body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.map {
    width: 1040px;
    height: 800px;
    display: flex;
    background-color: green; /* Add this */
    flex-wrap: wrap;
}

.lands {
    background-color: green; /* Add this */
    height: 70px;
    width: 70px;
    margin: 0 0 0 0;
    padding: 0 0 0 0 ;
    display: inline-block;
}

.block {
    background-color: rgb(59, 59, 59);
    height: 70px;
    width: 70px;
    margin: 0 0 0 0;
    padding: 0 0 0 0 ;
    display: inline-block;
}

.rock {
    background-color: rgb(146, 146, 146);
    height: 70px;
    width: 70px;
    margin: 0 0 0 0;
    padding: 0 0 0 0 ;
    display: inline-block;
}
